.homepage {
    display: flex;
  }
  
  .side-left {
    width: 15%; /* Adjust width as necessary */
  }
  
  .side-right {
    width: 85%; /* Adjust width as necessary */
    display: flex;
    flex-direction: column;
  }
  
  .advertise-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add some space between the ad and phone items */
  }
  
  .phone-items-container {
    width: 100%;
  }
  @media (max-width:935px){
    .side-left{
      display: none;
    }
    .side-right{
      width: 100%;
    }
  }
  